.main-row {
  padding: 20px 0px;
}
.main-row-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.main-row-header-title {
  display: grid;
  justify-self: start;
}
.main-row-header-title h2 {
  font-size: 28px;
}
.main-row-header-addBtn {
  display: grid;
  justify-self: end;
}
.main-row-header-addBtn a {
  font-size: 24px;
}
.main-row .filter-row {
  margin: 60px 0px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
}
.main-row .filter-row .multiselect-block {
  display: grid;
  grid-row-gap: 5px;
}
.main-row .filter-row .multiselect-block .date-label {
  justify-self: center;
}
.main-row .filter-row .multiselect-block-date {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.main-row .filter-row .multiselect-block-date input {
  height: 26px;
  padding: 5px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #aaa;
  text-align: left;
  white-space: nowrap;
  line-height: 26px;
  color: #444;
  text-decoration: none;
  border-radius: 4px;
  background-color: #fff;
}
.main-row .filter-row .multiselect-btn {
  align-self: end;
}
.main-row .table-row {
  display: grid;
  grid-row-gap: 30px;
  margin-top: 20px;
}
.main-row .table-row-header {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr) 1fr;
  grid-column-gap: 10px;
}
.main-row .table-row-header-column p {
  font-size: 24px;
}
.main-row .table-row-body {
  display: grid;
  grid-row-gap: 40px;
}
.main-row .table-row-body-item a {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr) 1fr;
  grid-column-gap: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
}
.main-row .table-row-body-item a .table-row-body-item-column p {
  font-size: 18px;
}
.main-row .table-row h3 {
  font-size: 24px;
}
