.main-row {
    padding: 20px 0px;

    &-header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        &-title {
            display: grid;
            justify-self: start;

            h2 {
                font-size: 28px;
            }
        }

        &-addBtn {
            display: grid;
            justify-self: end;

            a {
                font-size: 24px;
            }
        }
    }

    .filter-row {
        margin: 60px 0px;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr 0.5fr;
        align-items: center;

        .multiselect-block {
            display: grid;
            grid-row-gap: 5px;

            .date-label {
                justify-self: center;
            }

            &-date {
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
                justify-items: center;

                input {
                    height: 26px;
                    padding: 5px;
                    overflow: hidden;
                    cursor: pointer;
                    border: 1px solid #aaa;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 26px;
                    color: #444;
                    text-decoration: none;
                    border-radius: 4px;
                    background-color: #fff;
                }
            }
        }

        .multiselect-btn {
            align-self: end;
        }
    }

    .table-row {
        display: grid;
        grid-row-gap: 30px;
        margin-top: 20px;

        &-header {
            display: grid;
            grid-template-columns: repeat(3, 0.5fr) 1fr;
            grid-column-gap: 10px;

            &-column {
                p {
                    font-size: 24px;
                }
            }
        }

        &-body {
            display: grid;
            grid-row-gap: 40px;

            &-item {
                a {
                    display: grid;
                    grid-template-columns: repeat(3, 0.5fr) 1fr;
                    grid-column-gap: 10px;
                    padding-bottom: 20px;
                    border-bottom: 1px solid #fff;

                    .table-row-body-item-column {
                        p {
                            font-size: 18px;
                        }
                    }
                }
            }
        }

        h3 {
            font-size: 24px;
        }
    }
}

@media (max-width: 1720px) {
    .main-row {
        .filter-row {
            grid-template-columns: 1fr 1fr 1fr;
            grid-row-gap: 20px;
            justify-items: center;
        }
    }
}

@media (max-width: 991px) {
    .main-row {
        .filter-row {
            grid-template-columns: 1fr 2fr;
        }
    }
}

@media (max-width: 767px) {
    .main-row {
        .filter-row {
            grid-template-columns: 1fr;
        }
    }

    .main-row .table-row-header-column p{
        font-size: 18px;
    }
}

@media (max-width: 530px) {
    .main-row-header-addBtn a{
        font-size: 18px;
    }
    .main-row-header-title h2{
        font-size: 22px;
    }
}

@media (max-width: 480px) {
    .main-row .table-row-header-column p{
        font-size: 16px;
    }
    .main-row .table-row-body-item a .table-row-body-item-column p {
        font-size: 14px;
    }
}

@media (max-width: 444px) {

    .main-row-header-addBtn a {
        font-size: 14px;
    }
    .main-row .filter-row .multiselect-block .date-label{
        justify-self: start;
    }

    .main-row .filter-row .multiselect-block-date {
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
        justify-items: end;
    }
}

@media (max-width: 385px) {
    .main-row-header{
        grid-template-columns: 1fr;
        justify-items: center;
        grid-row-gap: 20px;
    }

    .main-row-header-title{
        justify-self: auto;
    }

    .main-row-header-addBtn{
        justify-self: auto;
    }

    .main-row .filter-row {
        margin: 40px 0px;
    }

    .main-row .table-row-header{
        text-align: center;
    }
    .main-row .table-row-body-item a{
        text-align: center;
    }
    .main-row .table-row-body-item a .table-row-body-item-column p{
        font-size: 12px;
    }
    .main-row .table-row-header-column p {
        font-size: 14px;
    }

}
